# Logistische Regression

In diesem Kapitel implementieren wir mit PyTorch ein Modell für die **Logistische Regression**, das zwar in anderen Bibliotheken direkt integriert ist (sci-kit-leaern), uns aber wichtige Einblicke für das Training von deep-neural nets liefert.

In [14]:
# Module für die Datenanalyse und Visualisierung
import pandas as pd
import matplotlib.pyplot as plt

# Pytorch imports, die wir benötigen

import torch
from torch import nn # wir werden Methoden von nn.Module benötigen
import torch.nn.functional as F # Für die Berechnung des "Fehlers"
from torch.utils.data import DataLoader, Dataset #zur Vorbreitung der Daten für das Training in Mini-Batches

## Datensatz importieren und etwas Analyse

Wir werden mit einem Datensatz über gefälschte und echte Banknoten arbeiten. Hier wurden bereits Werte der Geldscheine aus den Bildern der Geldscheine extrahiert, mit denen wir arbeiten können, um einen Geldschein als echt oder gefälscht zu klassifizieren. Normalerweise wäre die Extraktion dieser Eigenschaften ein weitere Schritt, den man vorher durchführen müsste.

In [15]:
url = "https://archive.ics.uci.edu/static/public/267/banknote+authentication.zip"

df = pd.read_csv(url, header=None)
df.columns = ["x1", "x2", "x3", "x4", "label"]
df.head()

        x1      x2      x3       x4  label
0  3.62160  8.6661 -2.8073 -0.44699      0
1  4.54590  8.1674 -2.4586 -1.46210      0
2  3.86600 -2.6383  1.9242  0.10645      0
3  3.45660  9.5228 -4.0112 -3.59440      0
4  0.32924 -4.4552  4.5718 -0.98880      0

In [18]:
df.info() #Einige Eigenschaften des Datensatzes werden zusammengefasst

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      1372 non-null   float64
 1   x2      1372 non-null   float64
 2   x3      1372 non-null   float64
 3   x4      1372 non-null   float64
 4   label   1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB